.my-5 ul {
    list-style-type: disc;
    padding-left: 20px; 
    line-height: 1.5; 
  }
  
  .my-5 li {
    margin-bottom: 10px; 
  }
  
  
ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

ul li {
  padding: 10px 0; 
  border-bottom: 1px solid #ddd; 
}

ul li:last-child {
  border-bottom: none;
}

ul li a {
  color: #333; 
  text-decoration: none; 
}

ul li a:hover {
  color: #000;
}


ol {
  counter-reset: item; 
  padding: 0;
  margin: 0;
}

ol li {
  display: block; 
  position: relative;
  padding: 10px 0 10px 30px;
  border-bottom: 1px solid #ddd;
}

ol li:before {
  content: counter(item) "."; 
  counter-increment: item; 
  position: absolute; 
  left: 0; 
  color: #999; 
}

ol li:last-child {
  border-bottom: none;
}

ol li a {
  color: #333; 
  text-decoration: none; 
}

ol li a:hover {
  color: #000; 
}
